/* Entire Page */

body {
    font-family: 'Raleway', sans-serif;

}

/* Header */

header {
    padding: 30px;
    align-content: center;
    text-align: center;
}

img {
    width: 1280px;
    height: 492px;
}

h1 {
    font-size: 300%;
    margin-top: 30px;
}

h3 {
    font-size: 150%;
    margin-top: 12px;
}

/* Main */

main {
    padding: 30px;
    width: 1218px;
    height: 400px;
    margin: 0px auto;
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(227, 227, 227, 0.276);
   
}

main div {
    float: left;
}

.list {
    width: 40%;
    display: inline-block;
    margin-left: 75px;
    
}

#basics {
    height: 200px;
    list-style: inside;
}

#top-ten {
    height: 200px;
    list-style: inside;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Footer */

#footer {
    height: 50px;
    clear: both;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 10px;
}
